.table-view {
    -fx-font-size: 14px;
}

.table-view .column-header-background {
    -fx-background-color: #f4f4f4;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-view .table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-view .table-cell {
    -fx-alignment: CENTER_LEFT;
}
